eel
python-dotenv
pvporcupine==1.9.5
pyaudio
pyautogui
pygame
pywhatkit
google-genai
SpeechRecognition
numpy
opencv-contrib-python
Pillow
pyttsx3
requests
pyjokes
wikipedia
beautifulsoup4
duckduckgo-search
pywebview
pyinstaller
