eel
python-dotenv
pvporcupine==1.9.5
pyaudio
pyautogui
pygame
pywhatkit
google-genai
SpeechRecognition
numpy
opencv-contrib-python
Pillow
pyttsx3
edge-tts
requests
pyjokes
wikipedia
beautifulsoup4
duckduckgo-search
pywebview
pyinstaller
# Phase 2 dependencies
spotipy
google-auth-oauthlib
google-api-python-client
openai-whisper

# Phase 4 dependencies
scikit-learn
joblib
